<footer class="dark:bg-zinc-900 ring-1 dark:ring-zinc-300/20">
	<nav class="px-8 py-4">
		<ul class="flex flex-col space-x-2 items-center dark:text-zinc-500 md:hidden">
			<iframe
				src="https://resplice.instatus.com/embed-status/4035c9ee/dark-sm"
				width="230"
				height="39"
				frameborder="0"
				scrolling="no"
				style="border: none;"
			>
			</iframe>
			<div class="w-full flex justify-between items-center mt-4">
				<li class="dark:hover:text-zinc-300 transition">
					<a href="http://faq.resplice.com">FAQ</a>
				</li>
				<li class="dark:hover:text-zinc-300 transition">
					<a href="https://app.resplice.com">Let's Party 🎉</a>
				</li>
			</div>
		</ul>
		<ul class="hidden md:flex space-x-2 justify-between items-center dark:text-zinc-500">
			<li class="dark:hover:text-zinc-300 transition">
				<a href="http://faq.resplice.com">FAQ</a>
			</li>
			<iframe
				src="https://resplice.instatus.com/embed-status/4035c9ee/dark-sm"
				width="230"
				height="39"
				frameborder="0"
				scrolling="no"
				style="border: none;"
			>
			</iframe>
			<li class="dark:hover:text-zinc-300 transition">
				<a href="https://app.resplice.com">Let's Party 🎉</a>
			</li>
		</ul>
	</nav>
</footer>
