---
import SocialIcon from '@components/SocialIcon.svelte'
import { socials } from '@content/_data'

const links = [
	{
		label: 'Company',
		href: '/about'
	},
	{
		label: 'Product',
		href: '/#product'
	},
	{
		label: 'FAQ',
		href: '/#faq'
	},
	{
		label: 'Privacy Policy',
		href: '/legal/privacy'
	},
	{
		label: 'Terms & Conditions',
		href: '/legal/terms'
	}
	// {
	// 	label: 'Changelog',
	// 	href: '/changelog'
	// },
	// {
	// 	label: 'Press',
	// 	href: '/press'
	// }
]
---

<footer class="bg-white">
	<div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
		<nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
			{
				links.map((link) => (
					<div class="pb-6">
						<a href={link.href} class="text-sm leading-6 text-gray-600 hover:text-gray-900">
							{link.label}
						</a>
					</div>
				))
			}
		</nav>
		<div class="mt-10 flex justify-center space-x-10">
			{
				socials.map((social) => (
					<a href={social.url} class="text-gray-400 hover:text-gray-500">
						<SocialIcon icon={social.name} />
					</a>
				))
			}
		</div>
		<div class="flex justify-center mt-10">
			<iframe
				src="https://resplice.instatus.com/embed-status/4035c9ee/light-sm"
				width="230"
				height="61"
				frameborder="0"
				scrolling="no"
				style="border: none;"
			>
			</iframe>
		</div>
		<p class="text-center text-xs leading-5 text-gray-500">
			&copy; {new Date().getFullYear()} Resplice. All rights reserved.
		</p>
	</div>
</footer>
