<footer class="dark:bg-zinc-900 ring-1 dark:ring-zinc-300/20">
	<nav class="px-8 py-4">
		<ul class="flex space-x-2 justify-between dark:text-zinc-500">
			<li class="dark:hover:text-zinc-300 transition">
				<a href="http://faq.resplice.com">FAQ</a>
			</li>
			<li class="dark:hover:text-zinc-300 transition">
				<a href="https://app.resplice.com">Let's Party 🎉</a>
			</li>
			<!-- <li class="dark:hover:text-zinc-300 transition"><a href="#">Invest</a></li> -->
		</ul>
	</nav>
</footer>
