---
import { getCollection, type CollectionEntry } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import Markdown from '@components/Markdown.astro'

export async function getStaticPaths() {
	const changelogEntries = await getCollection('changelog')
	return changelogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry }
	}))
}

type Props = {
	entry: CollectionEntry<'changelog'>
}

const { Content } = await Astro.props.entry.render()
---

<Layout title="Resplice Changelog">
	<div class="bg-white mx-auto max-w-7xl px-6 py-32 sm:py-32 lg:gap-x-10 lg:px-8 lg:py-40">
		<Markdown>
			<div slot="header">
				<time class="text-slate-600">
					{
						new Date(Astro.props.entry.data.date).toLocaleDateString('en-US', {
							year: 'numeric',
							month: 'long',
							day: 'numeric'
						})
					}
				</time>
			</div>
			<Content slot="content" />
		</Markdown>
	</div>
</Layout>
