---
import Layout from '@layouts/Layout.astro'
import CalloutPill from '@components/CalloutPill.astro'
import AppScreenshot from '@components/AppScreenshot.astro'
import Features from '@components/Features.astro'
import FAQ from '@components/FAQ.svelte'
import ImportContactsFeature from '@components/ImportContactsFeature.astro'
---

<Layout title="Resplice">
	<div class="relative isolate pt-14 bg-white">
		<svg
			class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
			aria-hidden="true"
		>
			<defs>
				<pattern
					id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527"
					width="200"
					height="200"
					x="50%"
					y="-1"
					patternUnits="userSpaceOnUse"
				>
					<path d="M100 200V.5M.5 .5H200" fill="none"></path>
				</pattern>
			</defs>
			<svg x="50%" y="-1" class="overflow-visible fill-gray-50">
				<path
					d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
					stroke-width="0"></path>
			</svg>
			<rect
				width="100%"
				height="100%"
				stroke-width="0"
				fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)"
			>
			</rect>
		</svg>
		<div
			class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-40"
		>
			<div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
				<div class="flex">
					<CalloutPill title="1.0 has launched" label="View Post" href="/changelog/1_0" />
				</div>
				<h1
					class="mt-10 max-w-lg text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
					id="product"
				>
					We're changing the way people connect and share.
				</h1>
				<p class="mt-6 text-lg leading-8 text-gray-600">
					Resplice is a new way to interact online. You are put back in control of your data. You
					choose exactly what to share with who, all with our simple and secure app.
				</p>
				<div class="mt-10 flex items-center gap-x-6">
					<a
						href="https://app.resplice.com/#/install"
						class="rounded-md bg-brand-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-brand-primary-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
					>
						Install App
					</a>
					<a href="#features" class="text-sm font-semibold leading-6 text-gray-900">
						Learn more <span aria-hidden="true"> →</span>
					</a>
				</div>
			</div>
			<div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
				<AppScreenshot />
			</div>
		</div>
		<Features />
		<ImportContactsFeature />
		<FAQ client:load />
	</div>
</Layout>
